[Desktop Entry]
Name=KWalletRunner
Name[ca]=KWalletRunner
Name[ca@valencia]=KWalletRunner
Name[cs]=KWalletRunner
Name[da]=KWalletRunner
Name[de]=KWalletRunner
Name[en_GB]=KWalletRunner
Name[es]=KWalletRunner
Name[fi]=KWalletRunner
Name[fr]=KWalletRunner
Name[gd]=KWalletRunner
Name[gl]=KWalletRunner
Name[it]=KWalletRunner
Name[lt]=KWalletRunner
Name[nb]=KWalletRunner
Name[nl]=KWalletRunner
Name[nn]=KWalletRunner
Name[pa]=KWalletRunner
Name[pl]=KWalletRunner
Name[pt]=KWalletRunner
Name[pt_BR]=KWalletRunner
Name[ru]=KWalletRunner
Name[sk]=KWalletRunner
Name[sl]=KWalletRunner
Name[sr]=KWalletRunner
Name[sr@ijekavian]=KWalletRunner
Name[sr@ijekavianlatin]=KWalletRunner
Name[sr@latin]=KWalletRunner
Name[sv]=KWalletRunner
Name[uk]=KWalletRunner
Name[x-test]=xxKWalletRunnerxx
Name[zh_CN]=KWalletRunner
Name[zh_TW]=KWalletRunner
Comment=KWalletRunner runner
Comment[ca]=Llançador del KWalletRunner
Comment[ca@valencia]=Llançador del KWalletRunner
Comment[cs]=KWalletRunner runner
Comment[da]=KWalletRunner-runner
Comment[de]=KWalletRunner-Starter
Comment[en_GB]=KWalletRunner runner
Comment[es]=Lanzador de KWalletRunner
Comment[fi]=KWalletRunner-suoritusohjelma
Comment[fr]=Runner KWalletRunner
Comment[gd]=Ruithear KWalletRunner
Comment[gl]=Executor de KWalletRunner
Comment[it]=Esecutore di KWalletRunner
Comment[lt]=KWalletRunner paleidiklis
Comment[nb]=KWalletRunner-kjører
Comment[nl]=KWalletRunner runner
Comment[nn]=KWalletRunner-køyrar
Comment[pa]=KWalletRunner ਰਨਰ
Comment[pl]=Uruchamianie KWalletRunner
Comment[pt]=Execução do KWalletRunner
Comment[pt_BR]=Execução do KWalletRunner
Comment[ru]=Расширение KRunner KWalletRunner
Comment[sk]=KWalletRunner runner
Comment[sl]=Zaganjalnik KWalletRunner
Comment[sr]=KWalletRunner извођач
Comment[sr@ijekavian]=KWalletRunner извођач
Comment[sr@ijekavianlatin]=KWalletRunner izvođač
Comment[sr@latin]=KWalletRunner izvođač
Comment[sv]=Körprogram KWalletRunner
Comment[uk]=Засіб запуску KWalletRunner
Comment[x-test]=xxKWalletRunner runnerxx
Comment[zh_CN]=KWalletRunner 运行器
Comment[zh_TW]=KWalletRunner runner
Icon=kwalletmanager

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_kwallet
X-KDE-PluginInfo-Author=alex1701c
X-KDE-PluginInfo-Email=alex1701c.dev@gmx.net
X-KDE-PluginInfo-Name=kwalletrunner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
